# project name: Parkinson Disease Data Analysis and Profiles Classification

# Required Dependencies
pandas~=2.3.3
numpy~=2.4.1
scikit-learn~=1.8.0
matplotlib~=3.10.8
seaborn~=0.13.2
ipython~=9.9.0
scipy~=1.17.0

# Development dependencies
pytest